@import "../../../../common/style/global";
@import "../../../../common/style/intro";
@import "../../../../common/style/table";
@import "../../../../common/style/ad-title";
@import "../../../../common/style/blue-label";
@import "../../../../common/style/notice";
@import "../../../../common/style/self-promotion";
@import "../../../../common/style/service-process";
@import "../../../../common/style/portal-logos";
@import "../../../../common/style/tag";

#page-wrapper > .container {
  .ad-component {
    margin-bottom: 45px;
  }
  .ad-title {
    margin-bottom: 15px;
  }
  .table-container table {
    width: 618px;
    font-size: 10px;
    letter-spacing: -0.05em;
    .sticky-col, thead th,
    tbody tr:nth-child(4),
    tbody tr:nth-child(5),
    tbody tr:last-child {
      font-size: 12px;
    }
  }
  .table-container.simple table {
    table-layout: auto;
    font-size: 12px;
    tr td:nth-child(2) {
      width: 270px;
      font-size: 10px;
    }
    tr td:nth-child(3),
    tr td:nth-child(4) {
      width: calc((618px - 70px - 300px)/2);
    }
    tr td:last-child {
      color: $color-main;
    }
  }
  .ranges {
    .content {
      @include box-shadow(8px);
      font-size: 16px;
      letter-spacing: -0.1em;
      text-align: center;
      overflow: hidden;
      div {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        &:nth-child(odd) {
          background-color: $color-gray-3;
        }
      }
    }
  }
  .global-media {
    .media-card {
      @include box-shadow(8px);
      overflow: hidden;
      margin-bottom: 15px;
      .top {
        padding: 15px;
        background-color: #AFBFF3;
        color: $color-main;
        letter-spacing: -0.1em;
      }
      .bottom {
        padding-bottom: 22px;
        p {
          padding-top: 15px;
          padding-left: 8px;
          padding-right: 8px;
          padding-bottom: 20px;
          font-size: 14px;
          letter-spacing: -0.1em;
          line-height: 24px;
        }
      }
    }
  }
  .case {
    margin-bottom: 40px;
    h4 {
      color: $color-main;
      margin-bottom: 15px;
      font-weight: 500;
      letter-spacing: -0.1em;
    }
    .small {
      font-size: 90%;
    }
  }
}