@import "../../common/style/global";
@import "./swiper";
@import "../../common/style/overlay-intro";
@import "../../common/style/card";
@import "../../common/style/marketing-service";
@import "../../common/style/phone";

#page-wrapper > .container {
  padding-top: 0;
  .best-3 {
    & > h2 {
      margin-bottom: 20px;
      letter-spacing: -0.03em;
    }
    .bg-1 {
      background-color: $color-main;
    }
    .bg-2 {
      background-color: $color-navy;
    }
    .bg-3 {
      background-color: $color-bluegreen;
    }
    .swiper-wrapper {
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .swiper-slide {
      width: 205px;
      .container {
        padding-right: 10px;
      }
    }
  }
}