@import "../../common/style/global";
@import "../../common/style/intro";
@import "../../common/style/table";
@import "../../common/style/ad-title";
@import "../../common/style/blue-label";
@import "../../common/style/notice";
@import "../../common/style/service-process";

#page-wrapper > .container {
  .input-highlight {
    border: none;
    outline: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    transition: all .3s;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    &.active {
      border-bottom-color: $color-main;
      box-shadow: 0 1px 0 0 $color-main;
    }
  }
  input, textarea {
    font-weight: 400;
  }
  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 14px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  input[type=text] {
    background-color: transparent;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 15 0px;
    padding: 0;
    @extend .input-highlight;
  }
  input[type=text]:focus {
    @extend .active;
  }
  input::placeholder {
    color: #7F8080;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.05em;
  }
  label.required {
    &:after {
      content: ' *';
      color: $color-red;
    }
  }
  .form-row {
    margin-bottom: 35px;
    label {
      font-size: 14px;
      line-height: 14px;
    }
    & > label {
      font-size: 16px;
      line-height: 16px;
    }
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      .form-field {
        display: flex;
        .field-container {
          position: relative;
          display: flex;
          align-items: center;
          input {
            position: absolute;
            opacity: 0;
          }
        }
      }
    }
    &:nth-child(7) .form-field {
      position: relative;
      display: flex;
      align-items: center;
      .select-hidden {
        display: none;
        visibility: hidden;
      }
      input[type=text],
      input[type=text]:focus {
        border: none;
        box-shadow: none;
      }
      span {
        color: rgba(0, 0, 0, 0.5);
        padding-left: 10px;
        padding-right: 10px;
      }
      .arrow-down {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 12px;
        position: absolute;
        right: 20px;
        z-index: 100;
      }
      $select-color: #fff;
      $select-background: #c0392b;
      .emails {
        &.show {
          display: block;
        }
        width: 150px;
        text-align: center;
        display: none; 
        position: absolute;
        top: 100%;
        right: 10px;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: white;
        li {
          margin: 0;
          padding: 6px 0;
          &[rel="hide"] {
            display: none;
          }
        }
      }
    }
    .checkbox-container {
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-bottom: 10px;
      label {
        position: relative;
        margin-left: -20px;
        padding-left: 20px;
        z-index: 100;
        font-weight: 400;
      }
    }
    input[type=radio]:checked ~ .checkbox,
    input[type=checkbox]:checked ~ .checkbox {
      background-color: $color-main;
      border: none;
    }
    .checkbox {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      margin-right: 5px;
      padding: 3px;
    }
    &:nth-child(9) {
      display: flex;
      flex-direction: column;
    }
    textarea[name=content] {
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 15px;
    }
  }
  button[type=submit] {
    width: 100%;
    background-color: $color-main;
    border: none;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
  }
}