@import "../../../../common/style/global";
@import "../../../../common/style/intro";
@import "../../../../common/style/table";
@import "../../../../common/style/ad-title";
@import "../../../../common/style/blue-label";
@import "../../../../common/style/notice";
@import "../../../../common/style/self-promotion";
@import "../../../../common/style/service-process";
@import "../../../../common/style/card";
@import "../../../../common/style/big-notice";

#page-wrapper > .container {
  .img-container {
    .labels {
      font-size: 12px;
      span:nth-child(1) {
        margin-right: 155px;
      }
    }
  }
  .table-container table thead {
    tr:nth-child(2) th {
      border-top: none;
    }
  }
}