.big-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: $color-main;
  color: $color-white;
  .title {
    font-size: 16px;
    margin-bottom: 8px;
    letter-spacing: -0.1em;
  }
  .content {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.1em;
    line-height: 20px;
  }
}