.phone {
  position: fixed;
  z-index: 10;
  bottom: 35px;
  right: 25px;
  width: 54px;
  height: 54px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  &.at-bottom {
    opacity: 0;
  }
}