.phone {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 25px;
  width: 54px;
  height: 54px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  &.at-bottom {
    bottom: 90px;
  }
}