.self-promotion {
  padding-left: 30px;
  padding-right: 30px;
  h4 {
    text-align: center;
  }
  .sp-contents {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .left {
        margin-right: 30px;
      }
      .circle {
        width: 82px;
        height: 82px;
        display: flex;
        @include center();
        border-radius: 50%;
        border: 1px solid green;
        font-size: 12px;
        text-align: center;
        letter-spacing: -0.1em;
        box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
      }
      p {
        font-size: 12px;
        letter-spacing: -0.05em;
        line-height: 20px;
      }
    }
  }
}