.table-container {
  position: relative;
  // margin-right: -10px;
  overflow: hidden;
  margin-bottom: 10px;
  .navigation {
    display: none !important;
    position: absolute;
    z-index: 3;
    top: 40%;
    width: 24px;
    transition-property: opacity;
    transition-duration: 0.3s;
    &--left {
      transform: rotateY(180deg);
      left: 80px;
      opacity: 0;
    }
    &--right {
      right: 15px;
    }
  }
  table {
    position: relative;
    table-layout: fixed;
    font-size: 12px;
    // line-height: 12px;
    letter-spacing: -0.05em;
    border-collapse: separate;
    border-spacing: 0;
    width: 619px;
    th, td {
      text-align:center;
      vertical-align:middle;
      padding-top: 15px;
      padding-bottom: 15px;
      white-space: nowrap;
    }
    .sticky-col {
      position: sticky;
      left: 0px;
      width: 71px;
      background-color: $color-gray-1;
    }
    
    th, td {
      text-align:center;
      vertical-align:middle;
      padding-top: 15px;
      padding-bottom: 15px;
      white-space: nowrap;
    }
    th {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }
    td {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    .sticky-col {
      border-left: 1px solid black;
    }
    .sticky-col {
      position: sticky;
      left: 0px;
      width: 71px;
      background-color: $color-gray-1;
    }
    thead th,
    tbody tr:last-child td:first-child {
      color: white;
    }
    thead th:first-child,
    tbody tr:last-child td:first-child {
      background-color: $color-gray-9;
    }
  }
  &.col-4 table {
    // 위쪽
    thead th:nth-child(2) {
      background-color: $color-blue-6;
    }
    thead th:nth-child(3) {
      background-color: $color-blue-7;
    }
    thead th:nth-child(4) {
      background-color: $color-blue-8;
    }
    thead th:nth-child(5) {
      background-color: $color-blue-9;
    }

    // 아래쪽
    tbody tr:last-child td:nth-child(2) {
      background-color: $color-blue-1;
    }
    tbody tr:last-child td:nth-child(3) {
      background-color: $color-blue-2;
    }
    tbody tr:last-child td:nth-child(4) {
      background-color: $color-blue-4;
    }
    tbody tr:last-child td:nth-child(5) {
      background-color: $color-blue-5;
    }
  }

  &.col-3 table {
    thead th:nth-child(2) {
      background-color: $color-blue-7;
    }
    thead th:nth-child(3) {
      background-color: $color-blue-8;
    }
    thead th:nth-child(4) {
      background-color: $color-blue-9;
    }

    // 아래쪽
    tbody tr:last-child td:nth-child(2) {
      background-color: $color-blue-2;
    }
    tbody tr:last-child td:nth-child(3) {
      background-color: $color-blue-3;
    }
    tbody tr:last-child td:nth-child(4) {
      background-color: $color-blue-4;
    }
  }

  &.col-2 {
    margin-right: 0;
    table {
      width: 100%;
      thead th:nth-child(2) {
        background-color: $color-blue-7;
      }
      thead th:nth-child(3) {
        background-color: $color-blue-9;
      }

      // 아래쪽
      tbody tr:last-child td:nth-child(2) {
        background-color: $color-blue-1;
      }
      tbody tr:last-child td:nth-child(3) {
        background-color: $color-blue-2;
      }
    }
    .navigation {
      display: none;
    }
  }

  &.simple {
    margin-right: -15px;
    table {
      thead th {
        background-color: $color-blue-3 !important;
      }
      .sticky-col {
        background-color: white;
      }
      thead th,
      tbody tr:last-child td:first-child {
        color: black;
      }
      thead th:first-child,
      tbody tr:last-child td:first-child {
        background-color: white;
      }
    }
  }
}