.tag-container {
  position: relative;
}

.tag {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  background-color: $color-main;
  color: $color-white;
  padding: 12px;
  text-align: center;
  letter-spacing: -0.1em;
}

.tag-2 {
  @extend .tag;
  padding: 10px;
}

.tag-3 {
  @extend .tag;
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
}