.ad-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    @extend .box-shadow-1;
    border-radius: 50%;
  }
  h1 {
    flex: 1;
  }

  &--has-subtitle {
    margin-bottom: 25px;
  }
}