// color
$color-main: #375FE0;
$color-navy: #20378B;
$color-bluegreen: #0C93B0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #3AB370;
$color-red: #F11415;
$color-lightblue: #D9E2FF;

$color-gray-1: #E9E9E9;
$color-gray-2: #E7E7E7;
$color-gray-3: #E2E2E2;
$color-gray-4: #E1E1E1;
$color-gray-5: #A5A7B0;
$color-gray-6: #848484;
$color-gray-7: #6b6b6b;
$color-gray-8: #696D7C;
$color-gray-9: #646464;

$color-blue-1: #E4EAFF;
$color-blue-2: #C5D7FF;
$color-blue-3: #AFBFF3;
$color-blue-4: #A6C3FF;
$color-blue-5: #89A5FF;
$color-blue-6: #6987E9;
$color-blue-7: #375FE0;
$color-blue-8: #0733BF;
$color-blue-9: #0F2879;
$color-blue-10: #0C1F61;

// size
$size-site-width: 375px;
$size-menu-width: 315px;
$size-site-padding: 15px;