@import "../../../../common/style/global";
@import "../../../../common/style/intro";
@import "../../../../common/style/table";
@import "../../../../common/style/ad-title";
@import "../../../../common/style/blue-label";
@import "../../../../common/style/notice";
@import "../../../../common/style/service-process";
@import "../../../../common/style/card";
@import "../../../../common/style/big-notice";
@import "../../../../common/style/tag";

#page-wrapper > .container {
  .cases {
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    @extend .box-shadow-1;
    .case {
      padding-top: 25px;
      .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border-radius: 50%;
        }
        h4 {
          flex: 1;
          span {
            font-weight: inherit;
          }
        }
      }
      p {
        font-size: 12px;
        letter-spacing: -0.05em;
        margin-bottom: 20px;
        line-height: 20px;
      }
    }
    .divider {
      height: 1px;
      background-color: black;
    }
  }
  .recommend {
    @include box-shadow(8px);
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .icons {
      display: flex;
      justify-content: center;
      margin-left: -7px;
      margin-right: -7px;
      .top {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        @include box-shadow(8px);
        border-radius: 50%;
        img {
          width: 39px;
          height: 39px;
        }
      }
      .bottom {
        font-size: 12px;
        letter-spacing: -0.1em;
      }
      .icon {
        padding-left: 7px;
        padding-right: 7px;
        text-align: center;
      }
      .icon:nth-child(1) {
        .top {
          padding-top: 3px;
        }
      }
      .icon:nth-child(2) {
        .top {
          padding-top: 1px;
        }
      }
      .icon:nth-child(4) {
        .top {
          padding-top: 2px;
        }
      }
    }
  }
  .ad-component {
    margin-bottom: 45px;
    .title {
      letter-spacing: -0.1em;
      margin-bottom: 20px;
    }
    .sub-title {
      font-size: 16px;
      letter-spacing: -0.1em;
      color: $color-main;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  .img-container {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}